



.shoppingCartHeader{
    font-family: 'Amazon Ember', sans-serif;
    font-size: 30px;
    margin-left: 10px;
    margin-top: 30px;
}

.shoppingCartContainer{
    /* display: flex; */
    /* justify-content: space-between; */
    /* background-color: lightgrey; */
    /* height: 200px; */
}

.cartPageContainer{
    display: flex;
}

.containerForEachCartItem{
    /* display: flex; */
    /* border: 2px solid red; */
    display: flex;
    /* justify-content: ; */

}

.cartPhotoContainer{
   

}

.cartPhoto{
    margin-left: 20px;
    width: 150px;
    /* border: 3px solid orange; */
}

.cartProductIndexDetailsContainer{
    justify-content: space-evenly;
    flex-direction: column;
}

.cartIndexContainer{
    /* border: 5px solid pink; */
    width: 90%;
    
}

.cartIndexMoney{
    margin-left: 10px;
    display: flex;
    font-family: 'Amazon Ember', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.cartProductName{
    margin-left: 10px;
    margin-top: 10px;
    font-family: 'Amazon Ember', sans-serif;
    font-size: 19px;
}

.checkoutArea{
    flex-direction: column;
    
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    height: 140px;
    width: 300px;
    border: 1px solid lightgray;
    border-radius: 10px;
    font-family: 'Amazon Ember', sans-serif; 
}

.cartPageBreak{
    width: 98%;
    height: 2px;
    border-top: 1px solid #BBBFBF;
    margin: 10px 10px 10px 0px;
    margin-left: 10px;
}

.cartInStock{
    margin-left: 10px;
    color: green;
    font-size: 13px;
    font-family: 'Amazon Ember', sans-serif; 
}

.cartDeleteButton{
    margin-left: 10px;
    margin-bottom: 10px;
    border: none;
    text-decoration: none;
    background-color: white;
    color: #017185;
}

.cartDeleteButton:hover{
    margin-left: 10px;
    margin-bottom: 10px;
    border: none;
    text-decoration: none;
    background-color: white;
    text-decoration: underline;
}

.cartEmpty{
    font-size: 13px;
    font-family: 'Amazon Ember', sans-serif; 
}

.checkoutButton{
    margin-top: 30px;
    margin-left: 13px;
    margin-right: 10px;
    background-color: #FFD712;
    border-radius: 20px;
    border: 1px solid gray;
    height: 30px;
    width: 250px;
    font-family: 'Amazon Ember', sans-serif;
}

.checkoutButton:hover{
  
    background-color: #f5d223;
    
}

.checkoutArea{

    display: flex;
    /* flex-direction: column; */
}

.subTotalArea{
    display: flex;
    font-family: 'Amazon Ember', sans-serif;
    
}