.productIndexContainer{
    flex-wrap: wrap;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

.containerForEachItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;
    background-color: #F7F7F7;
    margin-bottom: 30px;
}

.containerForEachItem:hover{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid orange;
    background-color: #F7F7F7;
    margin-bottom: 30px;
}

.productIndexItem{

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    justify-content: flex-start;
    

}

.productName{
    font-family: 'Amazon Ember', sans-serif;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    margin:10 auto;
}

.productDescription{
    font-family: 'Amazon Ember', sans-serif;
}



.productPhoto{
    
    width: 250px;
   
}

.productPhotoContainer{
    background-color: white;
}

.ResultsHeader{
    font-size: larger;
    margin-left: 200px;
    margin-top: 10px;
    font-weight: bold;
    font-family: 'Amazon Ember', sans-serif;
}

.productIndexDetailsContainer{
    display: flex;
    flex-direction: column;
    /* width: 200px; */
    background-color: #F7F7F7;
}

.productIndexMoney{
    display: flex;
    justify-content: center;
}

.productIndexMoneySymbol{
    font-family: 'Amazon Ember', sans-serif;
}

.productIndexMoneyZeros{
    font-family: 'Amazon Ember', sans-serif;
}

.productIndexPrice{
    font-size: 30px;
    font-family: 'Amazon Ember', sans-serif;
}






