.splashLogo{
    width: 120px;
}

.navbar{
    width: 100%;
    height: 60px;
    background-color: #131921;
    padding: 0;
}

.splashLogo{
    display: flex;
    justify-content: left;
}

.searchBar{
    display: flex;
    justify-content: center;
}




