
.loginContainer{
    display: flex;
    justify-content: center;
}

.loginFormContainer{
    display: flex;
    flex-direction: column;
   
}

.loginEmailHeader{
    font-weight: bold;
    font-size: small;
}

.loginPasswordHeader{
    font-weight: bold;
    font-size: small;
}



form {
    display: flex;
    flex-direction: column;

    height: 400px;
    width: 320px;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 10px 20px;
    justify-content: space-between;
    font-family: 'Amazon Ember', sans-serif;
    

   
    
}

.formSigninHeader{
    font-size: 28px;
}

.signinButton{
    background-color: #FFD712;
    border-radius: 4px;
    border: 1px solid gray;
    height: 30px;
    font-family: 'Amazon Ember', sans-serif;
}

.signinButton:hover{
    background-color: #f5d223;
}

.loginLogo{
    width: 110px;
    display: block;
    margin: auto;
    padding-bottom: 15px;
}

.loginAgreement{
    font-size: smaller;
    font-family: 'Amazon Ember', sans-serif;
}

.loginEmail{
    width: 300px;
    height: 20px;
    font-family: 'Amazon Ember', sans-serif;
}

.credentialsField{
    width: 280px;
    height: 23px;
    padding: 3px 7px;
    font-family: 'Amazon Ember', sans-serif;
}

.credentialsField:focus{
    background-color: #F7FEFF;
    border-color: #007185;
    box-shadow: 0 0 0 2px #c8f3fa,0 1px 2px rgba(15,17,17,.15) inset
}

.signupLink{
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    text-align: center; 
    color: black;
    text-align: center;
    text-decoration: none;
    margin-top: 30px;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid gray;
    width: 340px;
    font-size: 14px;
    font-family: 'Amazon Ember', sans-serif;
}

.signupLink:hover{
   background-color: lightgray;
}

.newToTheoZon{
    color: gray;
    display: flex;
    justify-content: center;
}
