.signupContainer{
    display: flex;
    justify-content: center;
}

.signupFormContainer{
    display: flex;
    flex-direction: column;
   
}

.signupEmailHeader{
    font-weight: bold;
    font-size: small;
}

.signupPasswordHeader{
    font-weight: bold;
    font-size: small;
}

.signupNameHeader{
    font-weight: bold;
    font-size: small;
}



form {
    display: flex;
    flex-direction: column;

    height: 400px;
    width: 300px;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 10px 20px;
    justify-content: space-between;
    font-family: 'Amazon Ember', sans-serif;
    

   
    
}

.createAccountHeader{
    font-size: 27px;
}

.formSigninHeader{
    font-size: 28px;
}

.createButton{
    background-color: #FFD712;
    border-radius: 4px;
    border: 1px solid gray;
    height: 30px;
    font-family: 'Amazon Ember', sans-serif;
}

.createButton:hover{
    background-color: #f5d223;
}

.signupLogo{
    width: 110px;
    display: block;
    margin: auto;
    padding-bottom: 15px;
}

.signupAgreement{
   font-size: smaller;
   font-family: 'Amazon Ember', sans-serif;
}

.signupEmail{
    width: 300px;
    height: 20px;
    font-family: 'Amazon Ember', sans-serif;
}

.signupCredentialsField{
    width: 280px;
    height: 23px;
    padding: 3px 7px;
    font-family: 'Amazon Ember', sans-serif;
    
}

.signupCredentialsField:focus{
    background-color: #F7FEFF;
    border-color: #007185;
    box-shadow: 0 0 0 3px #c8f3fa,0 1px 2px rgba(15,17,17,.15) inset
}